pipeline/Process Google API.json
{
	"name": "Process Google API",
	"properties": {
		"activities": [
			{
				"name": "GetToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "credentials_sample",
					"method": "GET",
					"body": {
						"name": "Azure"
					}
				},
				"linkedServiceName": {
					"referenceName": "NYCDEOAzureFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetGoogleInformation",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "GetToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "GoogleApis",
						"type": "NotebookReference"
					},
					"parameters": {
						"Token": {
							"value": {
								"value": "@activity('GetToken').output",
								"type": "Expression"
							},
							"type": "string"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-10-17T15:56:36Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}