pipeline/secret testing.json
{
	"name": "secret testing",
	"properties": {
		"activities": [
			{
				"name": "GetKeyVault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://educsudemo.vault.azure.net/secrets/SynapseTest/32e5bd160c2b4fa5969ddaf75ae58cf5?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "GetKeyVault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "calculatePoisson",
					"method": "GET",
					"headers": {
						"encryptedkey": {
							"value": "@activity('GetKeyVault').output.value",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@activity('GetKeyVault').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedazurefunction",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"secretvalue": {
				"type": "String",
				"defaultValue": " "
			},
			"myArray": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-17T15:57:11Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}